*{
    margin: 0px; padding: 0px; box-sizing: border-box;
    font-family: 'Bitter', serif;
font-family: 'Merriweather', serif;
}
button{
    text-decoration: none;
    outline: 0;
}

html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(5, 5, 46);
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
p{
    color: white;
    font-weight: 500;
    line-height: 1.5;
    font-size: 1.2rem;
    text-align: center;
}
h3{
    color: white;
    font-weight: 700;
    line-height: 1.5;
    font-size: 1.9rem;
}
hr{
    background-color: rgb(85, 85, 85);
}
/* ************************navigation bar*************** */
.navbar-brand{
    color: rgb(251, 255, 7)   !important;
font-size: 2rem;
}
.navbar-brand:hover{
    color:gold !important;
}
.nav-link{
    color: white !important;
    font-size: 1.4rem;
font-weight: 400;
border-radius: 100px;
}
.nav-link:hover,.dropdown-item:hover{
color: goldenrod !important;
}
.form-inline {
    /* background-color: thistle; */
    border: 2px solid goldenrod;
    border-radius: 100px;
    margin: 0 20px;
    padding: 0 10px;
    font-size: 1.5rem;
}
.form-inline:hover{
background-color: goldenrod;
}
.carousel-caption h3{
    color: rgb(25, 0, 255);
    font-weight: bold;
}
.join, .book{
  border-radius: 100px;  
  width: 160px;
margin: 0 10px;
padding: 6px 10px;
font-size: 1.3rem;
font-weight: 200;
}
.join{
    color: white;
    border:none;
background-color: rgba(0, 0, 0, 0.411);
    border: 1.5px solid gold;
}
.book{
    background-color: rgb(4, 113, 255);
    border:1.5px solid gold;
    color: white;
}
.join:hover,.book:hover{
    background-color: goldenrod;
}

/* <***********************!-- Three columns of text below the carousel*************** --> */
.extra-div{
    margin:80px 0px;
    height: auto;
}
.three-div img{
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 0 20px 0 rgb(110, 128, 231);
    margin-top: 15px;
}
.three-div{
    transition: 0.3s;    padding-bottom: 30px;
}
.three-div:hover{
    background-color: rgba(17, 17, 17, 0.490);
    box-shadow:0 0 10px 3px rgb(1, 93, 124);
    transform: translateY(-20px);
}
.three-div .btn{
    background-color: rgb(255, 6, 6);
    border-radius: 100px;
    font-weight: bold;
    color: #ffff;
}
.three-div:hover .btn{
    background-color: rgba(0, 202, 209);
}
.three-div:hover h3{
    color: rgb(19, 143, 214);
}

/* <!-- **********************************services start************************** --> */
.feature{
    width: 100%;
    height: auto;
  margin: 50px 0;
}
.featurette-heading{
    color: aqua;
    line-height: 1.1;
    font-weight: 600;
}
.text-muted{
    color: rgb(156, 156, 156) !important;
    font-size: 2.5rem;
}
.lead{
    text-align: left;
    padding: 0px 9px;
}
.text{
    position: absolute;
    top:70px;
    left:150px;
    line-height: 1.1;
}
.inner{
    overflow: hidden;
}
.inner img{
    transition: all 0.3s ease;
    cursor: pointer;
}
.featurette:hover img{
    transform: scale(1.3);
}
.featurette:hover h2,h3{
    color: gold;
}
/* <!-- ******************************contact page start********************* --> */
.contactdiv{
    height: auto;
    margin: 50px 0;
}
.form-group label{
    color: #ffff;
    font-size: 1.2rem;
}
.form-text{
    font-size:1.1rem;
}
.form-btn{
    display: flex;
    justify-content: center;
    text-align: center;
    
   }
.form-btn .btn{
    border: 2px solid rgb(199, 52, 236);
  border-radius: 100px;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 10px 30px;
    line-height: 1.1;
    margin: 10px 0;
    color: white;
}
.form-btn .btn:hover{
    background-color: rgb(154, 0, 185);
}

/* <!-- **************************gallery start**************************** */
.gallery{
    margin-top: 8px;
}
.gallery-item{
    margin: 5px;
    overflow: hidden;
}
.gallery-item img{
    transition: all 0.3s ease;
    cursor: pointer;
}
.gallery-item:hover img{
    transform: scale(1.5);
}
.section-title h2{
    color: goldenrod;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}
.section-title p{
    font-size: 1.7rem;
}
/* **************************acheivment page start********************  */
.acheive{
    width: 100%;
    height: 50vh;
    margin: 50px 0;
  background-color: rgba(7, 7, 7, 0.5); text-transform: uppercase;
  color: #ffff;
}
.achv-div h2{
    font-size: 2.5rem;
}
/* <!-- *********************************contact page star***************************/ 
.contact, .book-table{
    width: 100%;
    height: auto;
   margin:50px 0;
}
.form-group input,.form-group textarea{
    background-color:transparent;
    border: 1px solid goldenrod;
}
 .icons{
   margin: 10px 0;
}
.icons i{
    font-size: 30px;
    background-color: goldenrod;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row-div p{
    color:rgb(146, 146, 146);
    line-height:0.9;
}
.btn1{
    background-color:goldenrod !important;
    color: #ffff;
    font-size: 1.3rem;
    font-weight: bold;
    padding:8px 15px;
    border-radius: 100px;
    border: none;
}
.btn1:hover{
    background-color: gold !important;
}

/* <!-- *********************************footer page star***************************/
.footer{
    width: 100%;
    height: auto;
    margin: 60px 0;
}
.footer-top{
    background-color: rgba(0, 0, 0, 0.418);
    height: auto;
    padding:50px 0 50px 0;
    margin: -20px 0; 
}
.footer-info p{
    line-height: 1.4;
    font-size: 1.2rem;
    text-align: left;
}
.social-links i{
    font-size: 20px;
    /* margin: 0 10px; */
  color: rgb(255, 255, 255);
  background-color: gray;
  width: 15%;
  height: 35px;
  border-radius: 50%;;
}
.social-links i::before{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
}
.social-links i:hover{
    background-color: goldenrod;
}
 h4{
    color: rgb(116, 255, 232) !important;
}
.footer-links a{
    color: white;
    line-height: 2;
    font-size: 1.2rem;
}
.footer-links i{
    color: goldenrod;
}
.footer-newsletter input{
padding: 10px 19px;
border: none;
}
#xyz{
    border-radius: 25px 0 0px 25px;
 background-color: rgba(128, 128, 128, 0.274);
 width: 70%;
 border: 1px solid grey;
 padding: 11px 19px;
}
#xyz2{
    border-radius: 100px;
    margin-left: -50px;
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
    background-color: goldenrod;
}
#xyz2:hover{
    background-color: gold;
}
.copyright{
    text-align: center;
    color:#ffff;
    font-size: 1.2rem;
}
.credits{
    text-align: center;
    color: white;
    font-size: 1rem;
    line-height:2.7;
}
.credits a{
    color: gold;
    font-size: 1.2rem;
}

/* *****************join ****************** */
.modal-content{
    background-color: rgba(0, 0, 0, 0.575) !important;
    border-radius: 30px;
    border: 1px solid goldenrod;
}
.modal-header{
    text-align: center !important;
}

/* ************************media queries*************** */
@media (max-width:767px){
    .nav-item{
        text-align: center !important;
    }
    .form-inline {
  padding-left: 80px;
 }
 .join, .book{
     width: 75px;
     font-size: 10px;
     margin: 0 5px;
padding: 3px 4px;
 }
 .car-btn{
     position: relative;
     top: 20px;
 }
 .carousel-caption p{
    font-size: 10px;
    line-height: 0.7;
    position: relative;
    top: 25px; 
 }
 .carousel-caption h3{
      font-size: 15px;
      line-height: 0.5;
      position: relative;
      top: 25px;
 }
 .carousel-indicators{
     display: none;
 }
}